body{ 
    margin: 0;
    background-image: linear-gradient( to bottom,rgb(163, 45, 163),rgb(92, 5, 90) );
    background-attachment: fixed;
    
}

img{
    display: block;
    margin: 30px auto;
    width: 10cm;
    height: 20cm;
    align-items: center;
}

ul{
    list-style-type:none;
    margin:0;
    text-align: center;}

li{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
    font-size: larger;
}
