body{ 
    margin: 0;
    background-image: linear-gradient( to bottom,rgb(136, 5, 136),rgb(255, 0, 255) );
    background-attachment: fixed;
    
}

ul{
    list-style-type:none;
    margin:0;
    text-align: center;}

li{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 35px;
}


a{
    color:inherit;
}

